[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[user]
    name = Quy Vu
    email = 40758906+xquyvu@users.noreply.github.com
[core]
    editor = code --wait
[sequence]
    editor = code --wait
